scripts
original_MainTextSims.py
note to self from july 5th 
old_scripts/2Asli_MainTextSims.py
old_scripts/3Asli_MainTextSims.py
old_scripts/4Asli_MainTextSims.py
old_scripts/5Asli_MainTextSims.py
old_scripts/6Asli_MainTextSims.py
old_scripts/7_maintext.py
old_scripts/8_MainTextSims 2.py
old_scripts/Asli_MainTextSims.py
old_scripts/original,MainTextSims.py
old_scripts/original_MainTextSims.py
old_scripts/sgv.BurnIn.py
6Asli_MainTextSims.py
9_MainTextSims 2.py